In [10]:
import requests 
from bs4 import BeautifulSoup


# Crawl link and dump into file.json

In [11]:
def crawl_fn(url, lst):
    response = requests.get(url)   #Get html
    soup = BeautifulSoup(response.text, "html.parser") 
    grid = soup.find("ul", class_ = "article-list__list grid")  #Find part containing links
    link = grid.find_all(attrs={"data-track-wrapper": "article-list "})
    for element in link:
        a = element.find("a")    #Find links
        lst.append("https://www.telegraph.co.uk" + a["href"])
    return lst

## Business

In [12]:
url_sample = "https://www.telegraph.co.uk/business/economy/page-50/"

In [30]:
business = []
for i in range(1,250):
    print(i)
    url = f"https://www.telegraph.co.uk/business/economy/page-{i}/"
    bussiness = crawl_fn(url, bussiness)

1

In [14]:
len(business)

0

## Technology

In [9]:
url_sample = "https://www.telegraph.co.uk/technology/page-2/"

In [31]:
tech = []
for i in range(1,350):
    print(i)
    url = f"https://www.telegraph.co.uk/technology/page-{i}/"
    tech = crawl_fn(url, tech)

1
2

In [16]:
len(tech)

39

## Market

In [17]:
sample_link = "https://www.telegraph.co.uk/business/markets/page-2/"

In [32]:
market = []
for i in range(1,150):
    print(i)
    url = f"https://www.telegraph.co.uk/business/markets/page-{i}/"
    market = crawl_fn(url, market)

1
2
3
4
5
6
7
8
9

In [19]:
len(market)

39

## Company

In [20]:
url_sample = "https://www.telegraph.co.uk/business/companies/page-2/"

In [34]:
company = []
for i in range(1,150):
    print(i)
    url = f"https://www.telegraph.co.uk/business/companies/page-{i}/"
    company = crawl_fn(url, company)

1
2
3
4
5
6
7
8
9

In [22]:
len(company)

0

## Politics

In [23]:
sample_link = "https://www.telegraph.co.uk/politics/page-2/"

In [35]:
politics = []
for i in range(1,30):
    print(i)
    url = f"https://www.telegraph.co.uk/politics/page-{i}/"
    politics = crawl_fn(url, politics)

1
2

In [25]:
len(politics)

65

## Health

In [26]:
sample_link = "https://www.telegraph.co.uk/health/page-2/"

In [36]:
health = []
for i in range(1,200):
    print(i)
    url = f"https://www.telegraph.co.uk/health/page-{i}/"
    health = crawl_fn(url, health)

1

In [28]:
len(health)

1

## Science

In [29]:
sample_link = "https://www.telegraph.co.uk/science/page-2/"

In [37]:
science = []
for i in range(1,100):
    print(i)
    url = f"https://www.telegraph.co.uk/science/page-{i}/"
    science = crawl_fn(url, science)

1
2
3
4
5
6
7
8
9

In [ ]:
len(science)

## Education

In [74]:
sample_link = "https://www.telegraph.co.uk/education-news/"

In [27]:
education = []
for i in range(1,50):
    print(i)
    url = f"https://www.telegraph.co.uk/education-news/page-{i}"
    education = crawl_fn(url, education)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [29]:
len(education)

1543

## Envirionment

In [77]:
sample_link = "https://www.telegraph.co.uk/environment/page-2/"

In [30]:
environment = []
for i in range(1,70):
    print(i)
    url = f"https://www.telegraph.co.uk/environment/page-{i}/"
    environment = crawl_fn(url, environment)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69

In [31]:
len(environment)

2177

## Global health security

In [116]:
sample_link = "https://www.telegraph.co.uk/global-health/page-2/"

In [32]:
global_health = []
for i in range(1,160):
    print(i)
    url = f"https://www.telegraph.co.uk/global-health/page-{i}/"
    global_health = crawl_fn(url, global_health)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159

In [33]:
len(global_health)

5056

## Football

In [119]:
sample_link = "https://www.telegraph.co.uk/football/page-2/"

In [34]:
football = []
for i in range(1,300):
    print(i)
    url = f"https://www.telegraph.co.uk/football/page-{i}/"
    football = crawl_fn(url, football)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

In [35]:
len(football)

9536

## Travel

In [13]:
sample_link = "https://www.telegraph.co.uk/travel/page-2/"

In [37]:
travel = []
for i in range(1,300):
    print(i)
    url = f"https://www.telegraph.co.uk/travel/page-{i}/"
    travel = crawl_fn(url, travel)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299

In [38]:
len(travel)

9536

## Culture

In [18]:
sample_link = "https://www.telegraph.co.uk/culture/page-2/"

In [39]:
culture = []
for i in range(1,400):
    print(i)
    url = f"https://www.telegraph.co.uk/culture/page-{i}/"
    culture = crawl_fn(url, culture)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399

In [40]:
len(culture)

12737

## Style

In [21]:
sample_link = "https://www.telegraph.co.uk/style/page-2/"

In [41]:
style = []
for i in range(1,150):
    print(i)
    url = f"https://www.telegraph.co.uk/style/page-{i}/"
    style = crawl_fn(url, style)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149

In [42]:
len(style)

4736

In [46]:
my_dict = {"bussiness": busi, "technology": tech, "market": market, "company": com,
           "politics": politics,"health": health, "science": science, "education": education,
           "environment": environment,"global health security": global_health,
           "football": football, "travel": travel, "culture": culture, "style": style,
           }

In [48]:
count_link = 0
for i in my_dict:
    count_link += (len(my_dict[i]))
print(count_link)

106843

In [49]:
with open("links_v4.json", "w") as file:
    json.dump(my_dict, file)